.filmText {
  color: white;

  h2 {
    font-size: 65px;
  }
  .originalName {
    font-size: 25px;
    font-weight: 500;
  }
  .fav {
    text-decoration: underline;
    cursor: pointer;
    margin-left: 28px;
  }
  
}
