.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 83px;
    padding: 20px 0;
    align-items: center;
    position: relative;
}