.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.elem {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  transition: 0.2s;
  &:hover {
    color: #3657cb;
  }
}
